**/node_modules
**/npm-debug.log
**/build
**/.env
**/.git
**/.gitignore
**/README.md
**/LICENSE
**/.vscode
**/coverage
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local
